*{
    font-family: 'Poppins', sans-serif;
    margin:0px;
    padding:0px;
}

.nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:30px;
}
.tittle{
    display:flex;
    align-items:center;
    margin-left:30px;
    gap:5px;
}
.element {
    width: 30px;
    height: 30px;
    border-radius:20px;
    background-color:#20AD96;
    padding:10px;
 
    
  }
  .nav-right{
    display: flex;
    gap:20px;
    align-items: center;
    margin-right:20px;

  }
  .nav-right li{
    list-style:none;
  }
  .hamberger{
    display: none;
  }
  .hamberger svg{
    
    height:25px;
    position:flex-end;
    margin-right:10px;;
  }

  .banner{
  
   
    height:677px;
    background-color:#FAF8F6;
    margin-bottom:40px;
  }
  #line{
  
    width:101px;
    height:17px;
    margin-left:34px;
    margin-top:115px;
  }
  .text{
    width:545px;
    height:396px;
   margin-top:20px;
   margin-left:80px;
   
  }
  .banner-img{
   
    width:462px;
    height:530px;
  }
  .banner-img img{
    
    width:462px;
    height:530px;

  }
  .container{
    display: flex;
    height:530px;
    gap:200px;
   
  }
.third{
    display: flex;
    justify-content: center;
    gap:30px;
    margin-bottom: 40px;
}
.third p{
    width:400px;
    height:400px;
}
.box-container{
    display: flex;
    margin-left:100px;
    margin-bottom:100px;
    gap:100px;
}
.box{
    width:380px;
    height:328px;
}
.box p{
    width:300px; 
    height:400px;
}
.box img{
    width:186px;
    height:120px;
}

.here-out{
    background-color:#FAF8F6;
    height:879px;
    padding:100px;
 
    margin-bottom:10px;
   
}

#here-out-text{
  height:112px;
  width:530px;

  margin-top:30px;
  margin-left:50px;
  margin-bottom: 30px;;
}
.box-container{
  margin-left: 50px;;

}
.box1{
  height: 391px;
  width: 400px;
  background-color: white;
  padding:30px;

 
}
.box1 img{
  width: 69px;
height: 70px;
border-radius: 80px;

}
.rating svg{
  height:24px;
}
.cards{
  display:flex;
  width:100%;
  height:376px;
 
  gap:100px;
  margin-bottom:30px;
  
}
.box2{
  height:376px;
  width:400px;
}
.box2 img{
  height:170px;
  width:100%
}
.flex1{
  display: flex;
  height:500px;
 
  gap:300px;
  padding:100px;
  margin-bottom:20px;
}
.flex1-text{
  width:400px;
  height:400px;
  
  
}
.flex1-img{
  width:400px;
  height:600px;
}
.flex1-img img{
  width:100%;
  height:500px;
}
.flex2{
  display:flex;
  width:80%;
  background-color: #FAF8F6;
  margin:auto;
  height:480px;
  border-radius:20px;
  color: #333461;
  padding:60px;
  gap:200px;
  margin-bottom:50px;
  
}
.flex2-text{
  height:350px;
  width:708px;
 
}
.flex2-img{
width: 608px;
height: 480px;



}
.flex2-img img{
  width:100%;
  border-radius:19px;
}
.get-notified{
  
  display: flex;
  height:180px;
  background-color: #FAF8F6;
  padding:20px;
  align-items: center;
}
.gtext{
  width:50%;
  margin-left:20px;
}
.input{
  width:280px;
  height:44px;
  margin-right:6px;
  border-radius:19px;
  background-color:white;
}
.footer{
  display:flex;
  align-items: center;
  padding-top:30px;
  gap:100px;
  justify-content: center;
  background-color: white;
  height:316px;
 
}
#footer_tittle{
  display: flex;
  align-items: center;

}
.box4{
  width:25%;
  height:310px;
}
  @media only screen and (max-width: 600px) {
    .hamberger{
     display:block;
  
    }
    .nav-right{
        display: none;
    }
    
    .container{
        flex-direction: column;
    }
    .banner{
        height:1200px;
    }
    .text{
        width:100%;
        margin-left:0px;
    }
    .banner-img{
        width: 100%;
    }
    .banner-img img{
        width:100%;
    }
    #line{
        margin-left:5px;
        margin-top:10px;
    }
    .third{
        flex-direction: column;
        width:100%;
    }
    .third p{
       width:100%
    }
    .box-container{
        margin-top:100px;
        margin-left:0px;
        width:100%;
        flex-direction: column;
        gap:20px;
        justify-content: flex-start;
    }
    .box{
        width:100%;
    }
    .box p{
        width:100%;
    }
    .here-out{
      width:100%;
      height:1500px;
      padding:0px;
    }
    #here-out-text{
      width:100%;
      height:100px;
      margin-left:0px;
    }
    .box1{
      width:100%;
      margin-left:0px;
      padding:0px;
    }
    .cards{
      flex-direction: column;
      height: 1300px;
    }
    .box2{
      width:100%;
    }
    .box2 img{
      width:100%;
    }
    .flex1-text{
      width:100%;
    }
    .flex1{
      width:100%;
      height:920px;
      gap:10px;
      padding:0px;
      flex-direction: column;
    }
    .flex1-img{
      width:100%;
    }
    .flex2{
      width:100%;
      padding:0px;
      flex-direction: column;
      gap:30px;
      margin-bottom:50px;
      height:860px;
    }
    .flex2-text{
      width: 100%;
    }
    .flex2-img{
     width:100%;
    }
    .get-notified{
      height:316px;
      flex-direction: column;
      gap:40px;
    }
    .gtext{
      width:100%;
    }
    #footer_tittle{
    width:80px;
    margin-left:-30px;
    }
    .footer{
      gap:4px;
      padding:0px;
      height:450px;
    }
  }